@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="main-text">
        <h1 class="display-4 text-dark">Welcome to Pizza Wep Site</h1>
        <p>pizzas , is the pizza for you and me.</p>
    </div>


    <img src="~/images/pizza-g19957bf93_1920.jpg" alt="main Pizza" class="main-image"/>
    <br />
    <a class="btn btn-primary mt-3 " asp-area="" asp-page="LastCheak/Thanks">GIT ME THAT PIZZA !!</a>
</div>
